<div class="col-4 p-1">
                    <div class="card shadow">
                        <a href="store.html" class="text-muted">
                            <div class="row m-0 bg-light innershadow-sm">
                                <div class="col-4 p-0">
                                    <img class="card-img-top logo shadow" src="{{this.img}}"
                                        alt="Card image cap">
                                </div>
                                <div class="col-8 d-flex align-items-end p-0">
                                    <h5 class="text-secondary card-title ml-3 mb-1">{{this.name}}</h5>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{this.desc}}</p>
                        </div>
                        <div class="card-footer">
                            <img class="rating" src="{{this.rating}}" alt="5 stars">
                        </div>
                    </div>
                </div>