<div class="jumbotron text-center innershadow">
            <div class="d-flex">
                <!-- switch to dropdown when logged in otherwise prompt to login or signup-->
                <div class="ml-auto">
                    <button role="button" class="btn btn-outline-success mr-1">Log In</button>
                    {{!-- href="login.html" --}}
                    <button role="button" class="btn btn-success ml-1">Sign Up</button>
                    {{!-- href="signup.html" --}}
                </div>
            </div>

            <h1 class="text-success display-3">ReviewMe!</h1>
            <form>
                <div class="input-group">
                    <input class="jumbo form-control mr-sm-2 shadow-sm" type="search" placeholder="Search Stores">
                    <div class="input-group-btn">
                        <button class="jumbo btn btn-success my-2 my-sm-0 shadow-lg" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>