<!--navbar meant to be hidden until scroll down-->
<header>
    <nav class="navscroll navbar navbar-expand-lg navbar-light bg-white fixed-top shadow">
        <a class="navbar-brand text-success" href="homepage.html">ReviewMe!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input id="header_searchInput" class="form-control mr-sm-2" type="search"
                            placeholder="Search Stores">
                        <button id="header_searchSubmit" class="btn btn-outline-success my-2 my-sm-0"
                            type="submit" onclick="headerSearch()">Search</button>
                    </form>
                </li>
            </ul>
            <!-- switch to dropdown when logged in otherwise prompt to login or signup-->
            {{#if guest}}
            {{> guestUI}}
            {{else}}
            {{> userUI}}
            {{/if}}
        </div>
    </nav>
</header>
 
<!--content: jumbotron - to be replaced by navbar on scroll down
                featured stores    
                filter
                store
            -->
<div class="jumbotron text-center innershadow">
    <div class="d-flex">
        <!-- switch to dropdown when logged in otherwise prompt to login or signup-->
        <div class="ml-auto">
            {{#if guest}}
            {{> guestUI}}
            {{else}}
            {{> userUI}}
            {{/if}}
        </div>
    </div>

    <h1 class="text-success display-3">ReviewMe!</h1>
    <form>
        <div class="input-group">
            <input id="jumbo_searchInput" class="jumbo form-control mr-sm-2 shadow-sm" type="search"
                placeholder="Search Stores" value="{{searchStore}}">
            <button id="jumbo_searchSubmit" class="jumbo btn btn-success my-2 my-sm-0 shadow-lg"
                type="submit" onclick="jumboSearch()">Search</button>
        </div>
    </form>
</div>

<!-- filter -->
<hr>
<div class="dropdown">
    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
        Filter Rating
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <button onclick="filterAll()" id="filter_5star" class="dropdown-item btn btn-outline-success">Show All</button>
        <button onclick="filter5star()" id="filter_5star" class="dropdown-item btn btn-outline-success">5 star</button>
        <button onclick="filter4star()" id="filter_4star" class="dropdown-item btn btn-outline-success">4 star</button>
        <button onclick="filter3star()" id="filter_3star" class="dropdown-item btn btn-outline-success">3 star</button>
        <button onclick="filter2star()" id="filter_2star" class="dropdown-item btn btn-outline-success">2 star</button>
        <button onclick="filter1star()" id="filter_1star" class="dropdown-item btn btn-outline-success">1 star</button>
    </div>
</div>

<!-- contains the stores -->
<div class="container bg-light mt-2">
    <div class="row p-2">
        {{!-- render stores here --}}
        {{#each stores}}
        {{>storeCard this}}
        {{/each}}
        <!-- no store cards beyond this -->
    </div>
</div>