<!--navbar meant to be hidden until scroll down-->
<header>
    <nav class="navscroll navbar navbar-expand-lg navbar-light bg-white fixed-top shadow">
        <a class="navbar-brand text-success" href="homepage.html">ReviewMe!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input id="header_searchInput" class="form-control mr-sm-2" type="search" placeholder="Search Stores">
                        <button id="header_searchSubmit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <!-- switch to dropdown when logged in otherwise prompt to login or signup-->
            <a href="/login" role="button" class="btn btn-outline-success mr-1">Log In
            </a>
            <a href="/signup" role="button" class="btn btn-success ml-1">Sign Up
            </a>
        </div>
    </nav>
</header>

<!--content: jumbotron - to be replaced by navbar on scroll down
                featured stores    
                filter
                store
            -->
<div class="jumbotron text-center innershadow">
    <div class="d-flex">
        <!-- switch to dropdown when logged in otherwise prompt to login or signup-->
        <div class="ml-auto">
            <a href="login.html" role="button" class="btn btn-outline-success mr-1">Log In
            </a>
            <a href="signup.html" role="button" class="btn btn-success ml-1">Sign Up
            </a>
        </div>
    </div>

    <h1 class="text-success display-3">ReviewMe!</h1>
    <form>
        <div class="input-group">
            <input id="jumbo_searchInput" class="jumbo form-control mr-sm-2 shadow-sm" type="search" placeholder="Search Stores">
            <button id="jumbo_searchSubmit" class="jumbo btn btn-success my-2 my-sm-0 shadow-lg" type="submit">Search</button>
        </div>
    </form>
</div>

<!-- filter -->
<hr>
<div class="dropdown">
    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
        Filter Rating
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <button id="filter_5star" class="dropdown-item btn btn-outline-success">5 star</button>
        <button id="filter_4star" class="dropdown-item btn btn-outline-success">4 star</button>
        <button id="filter_3star" class="dropdown-item btn btn-outline-success">3 star</button>
        <button id="filter_2star" class="dropdown-item btn btn-outline-success">2 star</button>
        <button id="filter_1star" class="dropdown-item btn btn-outline-success">1 star</button>
    </div>
</div>

<!-- contains the stores -->
<div class="container bg-light mt-2">
    <div class="row p-2">
        {{!-- render stores here --}}
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>



        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="card shadow">
                <button href="#" class="text-muted btn btn-link p-0">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="assets/img/logos/placeholder.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <h5 class="text-secondary card-title ml-3 mb-1">Store</h5>
                        </div>
                    </div>
                </button>
                <div class="card-body">
                    <p class="card-text">*Some store description that best describes the store</p>
                </div>
                <div class="card-footer">
                    <img class="rating" src="assets/img/ratings/4star.png" alt="4 stars">
                </div>
            </div>
        </div>



        
        <!-- no store cards beyond this -->
    </div>
</div>