<div class="register-photo">
    <div class="form-container">
        <form id="login_form">
            <a href="/" class="text-dark">
                <h1 class="text-center"><strong>ReviewMe!</strong></h1>
            </a>
            <h2 class="text-center"><strong>Sign up as a User</strong></h2>
            <div class="form-group"><input class="form-control" type="email" id="userSignup_email" required=""
                    placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="text" id="userSignup_username" required=""
                    placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" id="userSignup_password" name="userSignup_password" required=""
                    placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" id="userSignup_password-repeat" name="userSignup_password-repeat"
                    required="" placeholder="Password (repeat)"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"><button class="btn btn-outline-success btn-block" role="button"
                            id="userSignup_submit">Sign up as Regular User</button></div>
                </div>
                <div class="col-md-6">
                     <div class="form-group"><button class="btn btn-success btn-block" role="button"
                            id="userSignup_store">Sign up as a Store Owner</button></div>
                </div>
            </div>

            <a href="/login" class="already">You already have an account? Login here.</a>
        </form>
    </div>
</div>