<div class="register-photo">
    <div class="form-container">
        <form method="post">
            <a href="homepage.html" class="text-dark">
                <h1 class="text-center"><strong>ReviewMe!</strong></h1>
            </a>
            <h2 class="text-center"><strong>Enter Store Name</strong></h2>
            <div class="form-group"><input class="form-control" type="email" name="storename" required=""
                    placeholder="Store Name"></div>

            <div class="form-group"><a class="btn btn-success btn-block" role="button" href="storeowner.html">Finish</a>
            </div>

            <a href="login.html" class="already">You already have an account? Login here.</a>
        </form>
    </div>
</div>