 <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background-color:#ffffff;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="color:#333333;">ReviewMe!</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"></ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" placeholder="Search stores" id="search-field"></div>
                </form><a class="btn btn-light float-left d-flex action-button" role="button" href="login.html" style="margin-right:10px;">Login</a><a class="btn btn-light float-left d-flex action-button" role="button" href="signup.html" style="margin-right:10px;">Sign Up</a>
                <a    class="btn btn-light float-right action-button" role="button" href="signup.html">Register Store</a>
        </div>
        </div>
    </nav>